* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

html {
  background-color: snow;
  height: 100%;
}

body {
  font-family:  Arial, Helvetica, sans-serif;
  margin: auto;
  color: snow;
  max-width: 100%;
  height: 100%;
}

nav {
  text-align: center;
  background-color: snow;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  background-color: snow;
  color: Black;
  display: block; /* Allow full-width links for better clickability */
}

nav ul li a:hover {
  background-color: #cccccc;
}

.navButton{
  display: none;
  border: none;
  text-align: center;
  color: black; /* Match the text color of the body */
}

.container {
  text-align: center;
  background-color: grey;
  margin: auto;
}

.home {
  background-image: url("../images/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.CV {
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 60px;
}

h2{
  margin: 0;
  font-size: large;
}

h3{
  margin: 0;
  font-size: 30px;
}

h4{
  margin: 0;
  font-size: small;
}

p{
  font-size: small;
}

a {
  text-align: center;
  color: black;
}

hr { width:75%; height:1px; background: white }

.about {
  background-color: grey;
  color: black;
  max-width: 100%;
  margin: auto;
}

.bio {
  max-width: 50%;
  width: fit-content;
  margin: auto;
}

.workimg {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
}

.contacts {
  background-color: grey;
  color: black;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

.links {
  text-align: center;
}

.links ul{
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.links ul li {
  margin: 0px 10px;
}

.contact {
  width: 30px;
  height: 30px;
}

.proj{
  display: inline-block;
}

@media (max-width: 800px) {
  .bio {
    max-width: 75%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
  .navButton {
    display: inline-block;
  }
  #navigation {
    float: none;
    display: none;
  }
}