* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: rgba(202,231,255,1);
}

nav {
  text-align: center;
  background-color: #7EB2DD;
}

.Home {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav ul li a {
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  color: snow; /* Match the text color of the body */
  display: block; /* Allow full-width links for better clickability */
}

nav ul li a:hover {
  background-color: skyblue;
}

.headerimg {
  background-image: url('../images/horizon.jpg'); 
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  padding: 1%;
}

.container {
  text-align: center;
  background-color: rgba(202,231,255,0.5);
  border-radius: 25px;
  margin: auto;
  padding: 10px;
  padding-bottom: 50px;
  width: 70%;
  height: fit-content;
}

.Me{
  border-radius: 25px;
  float: left;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (max-width: 200px) {
  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .Home {
    float: none;
  }
  nav ul li {
    float: none;
    display: block;
    padding: 0px;
    text-align: center; /* Center text for small screens */
  }
  .headerimg > img{
    display: none;
  }
  img {
    width: 75%;
    height: 75%;
  }
}

@media (max-width: 1000px) {
  .headerimg{
    background-image: none;
  }
}

@media (max-width: 1300px) {
  .Me{
    float: none;
    text-align: center;
  }
  .headerimg {
    padding: 0%;
  }
}