* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: #1C3334;
  color: snow;
}

nav {
  text-align: center;
  background-color: #1C3334;
}

.Home {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav ul li a {
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  color: snow; /* Match the text color of the body */
  display: block; /* Allow full-width links for better clickability */
}

nav ul li a:hover {
  background-color: #376e6f;
}

.container {
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: fit-content;
}

.bio {
  background-image: linear-gradient(0deg, #2D3040, #2F4454);
}

h1 {
  font-size: 44px;
}

.Me {
 border-radius: 25px;
}

.about {
  max-width: 500px;
  margin: auto;
}

.work {
  background-image: linear-gradient(0deg, #2E151B, rgb(74, 31, 43));
}

@media (max-width: 600px) {
  .Home {
    float: none;
  }
  nav ul li {
    float: none;
    display: block;
    padding: 0px;
    text-align: center; /* Center text for small screens */
  }
}